<h1>Olá,DbContext</h1>

@* @{
    ViewData["Title"] = "Test Page";
    var todo = ViewBag.Todo;
}

<h1>@ViewData["Title"]</h1>

<p>
    @{
        if (todo != null)
        {
            <span>Todo Title: @todo.Title</span><br />
            <span>Todo Description: @todo.Description</span>
        }
        else
        {
            <span>No Todo data available.</span>
        }
    }
</p> *@